recursive-include minitage *.txt *.py *tmpl *cfg *ini
recursive-include minitage/paste/*/*/template/ *
recursive-include minitage/paste/*/*/template/ *
recursive-include minitage/paste/*/*/template/ *


