[buildout]
prefer-final = true
versions = versions

[versions]
# https://bugs.launchpad.net/singing-dancing/+bug/301082
zope.app.catalog = 3.5.2

zope.component = 3.5.1
zope.i18n = 3.6.0
zope.sendmail = 3.5.1
zope.testing = 3.7.1
five.intid = 0.3.0

[zope2]
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    ZODB3
    pytz
skip-fake-eggs =
    zope.component
    zope.i18n
    zope.sendmail
    zope.testing
